numpy==1.23.3
opencv-contrib-python==4.6.0.66
pyqt6==6.4.0
scipy==1.9.2
pandas==1.5.2
pyqtgraph==0.13.1
toml
seaborn
platformdirs # unsure if this is going to be necessary, but might be useful so keeping for now.